<div class="container mt-4">
  <h3>Create {{ entity }}</h3>
  
  <form (ngSubmit)="submitForm()">
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    
    <!-- Client Form -->
    <div *ngIf="entity === 'Client'">
      <div class="mb-3">
        <label class="form-label">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="formData.name" name="name" required placeholder="Enter client name">
        <div *ngIf="formData.name?.trim()?.length === 0" class="text-danger">Name is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Description <span class="text-danger">*</span></label>
        <textarea class="form-control" [(ngModel)]="formData.description" name="description" required placeholder="Enter description"></textarea>
        <div *ngIf="formData.description?.trim()?.length === 0" class="text-danger">Description is required.</div>
      </div>
    </div>

    <!-- Product Form -->
    <div *ngIf="entity === 'Product'">
      <div class="mb-3">
        <label class="form-label">Client Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="formData.clientName" name="clientName" required placeholder="Enter client name">
        <div *ngIf="formData.clientName?.trim()?.length === 0" class="text-danger">Client Name is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Product Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="formData.name" name="productName" required placeholder="Enter product name">
        <div *ngIf="formData.name?.trim()?.length === 0" class="text-danger">Product Name is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Barcode <span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="formData.barcode" name="barcode" required placeholder="Enter barcode">
        <div *ngIf="formData.barcode?.trim()?.length === 0" class="text-danger">Barcode is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Price <span class="text-danger">*</span></label>
        <input type="number" class="form-control" [(ngModel)]="formData.price" name="price" required placeholder="Enter price">
        <div *ngIf="formData.price === '' || formData.price <= 0" class="text-danger">A positive price is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Upload TSV File</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>
    </div>

    <!-- Inventory Form -->
    <div *ngIf="entity === 'Inventory'">
      <div class="mb-3">
        <label class="form-label">Barcode <span class="text-danger">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="formData.barcode" name="barcode" required placeholder="Enter barcode">
        <div *ngIf="formData.barcode?.trim()?.length === 0" class="text-danger">Barcode is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Quantity <span class="text-danger">*</span></label>
        <input type="number" class="form-control" [(ngModel)]="formData.quantity" name="quantity" required placeholder="Enter quantity">
        <div *ngIf="formData.quantity == '' || formData.quantity < 0" class="text-danger">Positive quantity is required.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Upload TSV File</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)">
      </div>
    </div>

    <!-- Consolidated Buttons Section -->
    <div class="mt-3 d-flex flex-wrap">
      <button type="submit" class="btn btn-success mb-2 me-2" 
              [disabled]="(entity === 'Client' && (!formData.name || !formData.description)) || 
                          (entity === 'Product' && (!formData.clientName || !formData.name || !formData.barcode || formData.price <= 0)) || 
                          (entity === 'Inventory' && (!formData.barcode || formData.quantity <= 0))">
        Submit
      </button>
      <button *ngIf="entity === 'Product' || entity === 'Inventory'" 
              type="button" 
              class="btn btn-primary mb-2 me-2" 
              (click)="uploadTSV()">
        Upload TSV
      </button>
      <button *ngIf="entity === 'Product' || entity === 'Inventory'" type="button" class="btn btn-info mb-2" (click)="openTsvModal(entity)">Sample TSV</button>
    </div>

    <!-- Max TSV Lines Remark -->
    <div *ngIf="entity === 'Product' || entity === 'Inventory'" class="mt-3 text-muted">
      <small class="text-danger">* Maximum number of lines in the TSV file is 5000.</small>
    </div>

 <!-- Sample TSV Modal -->
 <app-sample-tsv-modal 
 [isOpen]="isTsvModalOpen"
 [sampleContent]="sampleTsvContent"
 (modalClosed)="closeTsvModal()">
</app-sample-tsv-modal>
  </form>
</div>
