<div class="container">
  <!-- Existing code... -->

  <!-- Toast Notifications -->
  <ngb-toast *ngFor="let toast of toasts" [class]="toast.classname" [autohide]="true" [delay]="toast.delay">
    <ng-template ngbToastHeader>
      <strong class="me-auto">{{ toast.title }}</strong>
      <small>{{ toast.time }}</small>
      <button type="button" class="btn-close" aria-label="Close" (click)="removeToast(toast)"></button>
    </ng-template>
    {{ toast.body }}
  </ngb-toast>

  <!-- Existing code... -->
</div>