<div class="container mt-4">
    <h2>Order Details - Order ID: {{ orderId }}</h2>
  
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Barcode</th>
          <th>Quantity</th>
          <th>Sale Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ item.barcode }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  