<div class="container mt-4">
    <h3>Create Client</h3>
    
    <form (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)]="formData.name" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" [(ngModel)]="formData.description" name="description" required></textarea>
        </div>

        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
</div>
  