<div class="container mt-4">
  <h2>Order Details - Order ID: {{ orderId }}</h2>

  <table class="table table-hover table-bordered text-center align-middle mt-3">
    <thead class="table-dark">
      <tr>
        <th>Barcode</th>
        <th>Quantity</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Selling Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ truncateValue(item.barcode) }}</td>
        <td>{{ truncateValue(item.quantity) }}</td>
        <td>{{ truncateValue(item.prodName) }}</td>
        <td>{{ truncateValue(item.price) }}</td>
        <td>{{ truncateValue(item.sellingPrice) }}</td>
      </tr>
    </tbody>
  </table>
</div>