<div id="createClientModal" class="modal-overlay" #createClientModal>
  <div class="modal-content">
    <span class="close" (click)="closeCreateModal()">&times;</span>
    <app-create-form entity="Client" (clientCreated)="handleClientCreated()"></app-create-form>
  </div>
</div>

<app-view-table 
  [columns]="columns" 
  [data]="data" 
  [editableFields]="['name', 'description']"
  (delete)="deleteClient($event)"
  (edit)="editClient($event)"
  (create)="openCreateModal()"
  [totalItems]="totalClients"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="goToPage($event)">
</app-view-table>
