<div class="container text-center mt-5">
    <h2>Dashboard</h2>
    <div class="row justify-content-center mt-4">
      <div class="col-md-3">
        <app-management-card title="Client Management" icon="fas fa-users" route="/app/clients"></app-management-card>
      </div>
      <div class="col-md-3">
        <app-management-card title="Product Management" icon="fas fa-box-open" route="/app/products"></app-management-card>
      </div>
      <div class="col-md-3">
        <app-management-card title="Inventory Management" icon="fas fa-warehouse" route="/app/inventory"></app-management-card>
      </div>
      <div class="col-md-3">
        <app-management-card title="Order Management" icon="fas fa-shopping-cart" route="/app/orders"></app-management-card>
      </div>
    </div>
  </div>