<div id="createInventoryModal" class="modal-overlay" #createInventoryModal *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeCreateModal()">&times;</span>
      <app-create-form entity="Inventory" (inventoryCreated)="handleInventoryCreated()" (tsvSubmitted)="handleTsvSubmitted()"></app-create-form>
    </div>
  </div>
  

  <app-view-table 
    [columns]="columns" 
    [data]="data" 
    [editableFields]="['barcode', 'quantity']"
    [entity]="entity"
    [totalItems]="totalProducts"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    (delete)="deleteInventory($event)" 
    (edit)="editInventory($event)"
    (create)="openCreateModal()"
    (pageChange)="goToPage($event)">
  </app-view-table>
  